
body{
  background-color: palevioletred;

}

.container{
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
button{
  padding: 10px;
  margin: 10px;
  
}
.RealContainer{
  background-color: white;
  box-shadow: 1px 1px 25px grey; 
  padding: 1rem 4rem 3rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}